.about_text{
    width: 80vw;
    overflow: auto;
    p{
        font-size: 20px;
    }
}
.about_img{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
}